{% extends 'base.html' %}

{% load static %}


{% block content %}

<div class="col-md">
  {% if dealers %}
    {% for dealer in dealers %}
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md">
          <div class="card-body">
            <h1 class="card-title"><a href="{{dealer.get_absolute_url}}">{{dealer.name}}</a></h1>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  {% else %}
    <h3 class="text-center mt-5">Дилеров не найдено.</h3>
  {% endif %}
</div>

{% endblock %}