{% extends 'base.html' %}
{% load static%}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <h1>{{auser.username}}</h1>
    <h3 class="mt-3">Дилеры пользователя</h3>
    {% if auser.dealers.count > 0 %}
    <ul>
      {% for dealer in auser.dealers.all %}
      <li><a href="{{dealer.get_absolute_url}}">{{dealer.name}}</a></li>
      {% endfor %}
    </ul>
    {% else%}
    У данного пользователя еще нет дилеров.
    {% endif %}
    {% if user == auser %}
    <a href="{% url 'dealers:dealer_add' %}" class="btn btn-primary">Добавить</a>
    {% endif %}
  </div>
</div>

{% endblock %}